* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #585858;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.5;
}

.logo {
  display: flex;
  max-width: 200px;
  justify-content: space-around;
  cursor: pointer;
  letter-spacing: 0.35em;
  margin-left: 30px;
  font-weight: bold;
  font-size: 17px;
}

.fa-gem {
  margin: 0 20px;
}

.container {
  max-width: 1280px;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.header-main {
  padding: 150px 0px 50px 0px;
}

.introduction h1,
.introduction p {
  padding: 0 20px;
}

.introduction a {
  text-decoration: none;
  color: #585858;
  border-bottom: 1px dotted #c9c9c9;
}

.container h1 {
  margin-bottom: 60px;
  font-size: 2.5em;
}

.flex-grid {
  margin-top: 100px;
  display: flex;
  flex-flow: wrap;
  max-width: 1280px;
}

.project-tile {
  flex-basis: calc(100% / 3);
  padding: 15px 20px;
}

.image {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: transform 0.4s;
}

.image:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #f2849e;
  transition: 0.4s;
}

.image-overlay p {
  opacity: 0;
  font-size: 1em;
  transform: translateY(30px);
  transition: transform 0.4s;
}

.image-overlay:hover p {
  transform: translateY(0);
  transition: transform 0.4s;
}

.image-overlay:hover .image-title {
  transform: translateY(-30px);
  transition: transform 0.4s;
}

.image-overlay:hover p {
  opacity: 1;
}

.image-title {
  font-size: 1.3em;
  font-weight: bold;
  transform: translateY(20px);
  transition: 0.4s;
}

img {
  display: block;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.p {
  margin-bottom: 20px;
}

.footer {
  padding-top: 200px;
}

.footer-container {
  display: flex;
}

.form-section {
  flex: 2;
}

.contact-section {
  flex: 1;
}

.form-section {
  padding-left: 15px;
}

.contact-section h2 {
  padding-left: 10px;
}

.form-section h2,
.contact-section h2 {
  margin-bottom: 70px;
  letter-spacing: 0.35em;
  /* font-weight: 700; */
  font-size: 1em;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.name,
.email {
  width: 40%;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  padding: 0 20px 20px 0px;
}

.message {
  width: 81%;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  padding: 0 20px 40px 0px;
  margin-bottom: 40px;
}

button {
  padding: 15px 35px;
  cursor: pointer;
  background-color: #585858;
  color: #ffffff;
  box-shadow: none;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  font-weight: 800;
}

.contact {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.contact li {
  width: 55px;
  border: solid 1px #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.contact li a {
  color: #585858;
}

.copyright {
  display: flex;
  padding: 100px 0px 50px 0px;
  margin: 0;
  font-size: 15px;
}

.copyright div {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}

.copyright div a {
  text-decoration: none;
  color: #585858;
  border-bottom: 1px dotted #585858;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 980px;
  }

  .header-main {
    padding-top: 70px;
  }

  .logo {
    font-size: 15pt;
  }

  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 981px) {
  .project-tile {
    flex-basis: 50%;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .footer {
    padding-top: 50px;
    padding-left: 20px;
  }

  .form-section h2,
  .contact-section h2 {
    margin-bottom: 20px;
  }

  .contact-section {
    margin-bottom: 70px;
  }

  .form-section,
  .contact-section {
    width: 100%;
  }

  .name,
  .email {
    width: 49%;
  }

  .message {
    width: 98%;
  }

  .introduction h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 612px) {
  .logo {
    margin: 0 20px;
  }

  .project-tile {
    flex-basis: 100%;
    font-size: 12pt;
  }
  .container {
    padding: 0;
  }

  .copyright {
    flex-direction: column;
  }

  .email,
  .name,
  .message {
    width: 100%;
  }

  .copyright > div {
    padding: 10px 30px;
    width: 100%;
    border: none;
    font-size: 10pt;
  }

  .copyright-section {
    margin-top: -50px;
  }
}

/* Detailes and hover effects */

.logo div:hover {
  color: #f2849e;
}

button:hover {
  background: #f2849e;
}

.copyright-section {
  opacity: 0.5;
}

.copyright-link:hover {
  opacity: 1;
  border: none;
}

.container a:hover {
  color: #f2849e;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #f2849e;
}

.contact li:hover {
  border: 1px solid #f2849e;
}

.introduction a:hover {
  border: none;
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
